<h1>A propos</h1>
<p>version 1.0.0</p>

<p>MonRéseauSoOocial, une application pour partager vos histoires, les meilleures comme les pires, de votre vie. Choisissez de les exposer au monde entier ou bien de les garder privées comme dans une journal intime !</p>