<h1>Bienvenue</h1>
<p>Bienvenue sur 'MonRéseauSoOocial' 1.0.0</p>
<p>Postez des histoires, les meilleures comme les pires, de votre vie. Choisissez de les exposer au monde entier ou bien de les garder privées comme dans un journal intime !</p>
{{#if user}}
{{else}}
<a class="btn red darken-1 waves-effect center small" href="/auth/google"><i class="fa fa-google right"></i> Connexion avec Google</a>
{{/if}}